.row.sign
  .span12
    .container
      .row
        .span8
          .header
            %h2 Sign up
    .container
      .row
        .span4.links
          = render "devise/shared/social"
        .span4.input 
          = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
            = f.error_notification
            = display_base_errors resource
            = f.input :name, :autofocus => true
            = f.input :email, :required => true
            / - if f.object.password_required?
            = f.input :password, :required => true
            = f.button :submit, 'Sign up', :class => 'btn btn-custom btn-small'
          = render "devise/shared/links"
