%h3 Your habits

-if @habits.any?
  %table
    %tr
      %th Name
      %th Count
      %th
      %th
      - @habits.each do |habit|
        %tr
          %td= "#{habit.name}"
          %td= "#{habit.counts.count}"
          %td= link_to 'Show', habit
          %td= link_to 'Edit', edit_habit_path(habit)
          %td= link_to 'Count', add_count_path(habit)
          %td= link_to 'Destroy', habit, :method => :delete, :data => { :confirm => 'Are you sure?' }
-else
  %p You haven't added any habits yet.

= link_to 'Add a Habit', new_habit_path, :class => 'button'
