%h3 Your habits

-if @habits.any?
  %table
    %tr
      %th Name
      %th Count
      %th Type
      %th
      - @habits.each do |habit|
        %tr
          %td= "#{habit.name}"
          %td= "#{habit.counts.count}"
          %td= "#{habit.type_of_habit}"
          %td= link_to 'Do It!', add_count_path(habit)
          %td= link_to 'Details', habit
          %td= link_to 'Edit', edit_habit_path(habit)
-else
  %p You haven't added any habits yet.

= link_to 'Add a Habit', new_habit_path, :class => 'button'
