%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        = link_to "Habit Watch", root_path, :class => 'brand'
    %li.toggle-topbar.menu-icon
      %a{:href => '#'}
        %span Menu
  %section.top-bar-section
    %ul.left
      %li.divider
      - if user_signed_in?
        %li
          = link_to 'Logout', logout_path, :method=>'delete'
      - else
        %li
          = link_to 'Login', login_path
    %ul.right
      - if user_signed_in?
        %li
          = link_to 'Settings', settings_path
      - else
        %li.sign-up
          = link_to 'Sign up', signup_path, :class => 'button success'

